
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.nav {
    display: flex;
    justify-content: center;
    height: 8vh;
  }
  ul a {
    margin: 0 15px;
    cursor: pointer;
  }
  
  .fade-enter {
    opacity: 0;
    transform: translateY(20em);
    /* transform: translate(0, 100%); */
  }
  
  .fade-leave-to {
    transform: translateY(-15em);
    /* transform: translate(0, -100%); */
    opacity: 0;
  }
  .fade-enter-active {
    transition: all.6s ease;
  
  }
  .fade-leave-active {
    transition: all.8s ease;
  }